
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <br>
      <h1> Dungeons and Dragons </h1>
      <br>
      <p>Description: </p>
      <p> {{ info }} </p>
      <br><br>
      <h1> Metaweather </h1>
      <br>
      <p> Forecast in London on April 13th: </p>
      <p> {{ weather }} </p>
      <br> <br>
      <h1> Taco Fancy </h1>
      <p> Recipe: </p>
      <p> {{ recipe }}
    </center>
  </body>
</html>
