<!DOCTYPE html>

<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>
      {{ foo }}
	  </title>
  </head>
  <center>
    <body>
      <h2>
        Job Selection
      </h2>
      If you have no idea what you're going to do in the future, but you have to pick something now to write on college apps, here is the tool for you.
      <br>
      By: Team Pepperoni Pizza (Jackson Zou and Sophie Nichol)
      <br>
      <br>
      Here is a randomly selected job for you:
      <br>
      {{ job }}
      <br>
      <br>
      <table>
        <tr>
          <th>Job</th>
          <th>Percent Chance</th>
        </tr>
        {% for item in collection %}
          <tr>
            <td>{{ item }}</td>
            <td>{{ collection[item]}}</td>
          </tr>
        {% endfor %}
        <br>
    </body>
  </center>
</html>
