<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SAT Scores</title>
  <style>


  </style>
</head>
<body>
<h1>SAT Scores</h1>
<p>
  Sophie Nichol and Emory Walsh<br/>
  SD pd9 <br/>
  K18--Come Up For Air <br/>
  2020-04-21 <br/>
</p>
<button id="start">Start</button>
<button id="end">Reset</button>
<div id="container"></div>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='stuff.js') }}"></script>
</body>
</html>
